body {background-color: #fafafa;}

/* Grid CSS*/ 
.subheading h1{
    position: relative;
    text-align: center;
    align-items: center;
    width: 206px;
    height: 49px;
    margin: 50px auto;
    margin-bottom: 10px;
    color: #fafafa;
}

#productgrid {
    margin: 0px 5%;
    display: grid;
    min-height: 600px;
    height: 10vh;
    grid-template-rows: 550px 550px 550px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "product1 product2 product3";
}

#product1 {
    grid-area: product1;
    background-image: url(../images/foodforthought.png);
    border-radius: 10px;
    backface-visibility: hidden;
    opacity: 1;
    transition: .5s ease;
}

#product2{
    grid-area: product2;
    background-image: url(../images/plannie.png);
    border-radius: 10px;
    backface-visibility: hidden;
    opacity: 1;
    transition: 0.5s ease;
}

#product3 {
    grid-area: product3;
    background-image: url(../images/Frame\ 34.png);
    border-radius: 10px;
    backface-visibility: hidden;
    opacity: 1;
    transition: 0.5s ease;
}

.productgridarea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    display: grid;
    align-content: end;
}


/* Navigation styles */
#nav {
    background-color: #fafafa;
    height: 100px;
    margin: 0px 5%;
}

#nav img{
float: left;
padding: 70px 5px;
justify-content: right;
margin-bottom: 0%;
padding-bottom: 0%;

}

.navigation {
    align-items: center;
    justify-content: space-evenly;
}

/* change color on hover*/
 .navigation a:hover {
    color: #606060;
    font-weight: bold;
 } 

/* Body styles */

.navigation a {
    color: black;
    padding: 57px 5px;
    padding-bottom: 0%;
    font-size: 24px;
    font-style: normal;
    font-family: 'avenier next', sans-serif;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: 10px;
    margin-bottom: 0px;
}

.subheading {
    border-top: 1px solid black;
    height: 156px;

}

.subheading h1{
    color: black;
    font-size: 36px;
    border-bottom: 1px solid black;
    font-family: 'avenier next', sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.subheading h2{
    color: black;
    font-size: 24px;
    font-family: 'avenier next', sans-serif;
    font-style: bold;
    margin: 8px;
    cursor: pointer;
    display: inline;
    width: 100%;
}
/* change color on hover*/
.subheading h2:hover{
    color: #606060;
    font-weight: bold;
 } 


/* product1, product2, product3 change color on hover*/
#product1:hover {
    opacity: 0.3;
}

#product1:hover .productname1 {
    opacity: 1;
}

.productname1 {
    position: absolute;
    top: 57%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
}

.producttext1 {
    color: black;
    font-size: 36px;
    font-family: 'avenier next', sans-serif;
}

#product2:hover {
    opacity: 0.3;
}

#product2:hover .productname2 {
    opacity: 1;
}

.productname2{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
}

.producttext2 {
    color: black;
    font-size: 36px;
    font-family: 'avenier next', sans-serif;
}

#product3:hover {
    opacity: 0.3;
}

#product3:hover .productname3 {
    opacity: 1;
}

.productname3{
    position: absolute;
    top: 57%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    -ms-transform: translate(-50%, -50%);
}

.producttext3 {
    color: black;
    font-size: 36px;
    font-family: 'avenier next', sans-serif;
}

/* Footer styles */

.text p {
    font-family: 'avenier next', sans-serif;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1%;
    border-top: 1px solid black;
 }
 